body {
    background-color: #F1f1E2;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: narrower;
    color: #F1f1E2;
}

.linha {
    height: 1px;
    width: 38px;
    margin: 8px;
    background-color: #f1f1f1;
    border: 0.5px solid #f1f1f1;
    border-radius: 14%;
}

.menu{
    cursor: pointer;
    width: 56px;
    height: 37px;
    margin-left: 2%;
    margin-top: -4%;
    padding: 5px;
    border-radius: 5%;
    transition: background-color 0.2s;
}
.menu:hover{
    background-color: #3b3b3b;
}
.calc {
    
    background-color: #202020;
    width: 520px;
    height: fit-content;
    border-radius: 10px;
    margin: auto auto 5rem ;
    padding: 30px 2px;
    
}



.numeros {
    color: #a4a4a4;
    text-align: right;
    margin-bottom: -25px;
    margin-right: 10%;
    margin-left: 10%;
    overflow-x: unset;
}


.tela {
    
    overflow-x: hidden;
    color: #f1f1f1;
    width: 450px;
    height: 100px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    text-align: right;
    font-size: 5em;
    
}


.botoes {
    height: 520px;
    margin-top: 7.5%;
    margin-bottom: -100px;
    
}


.fileira {
    display: flex;
    width: 99%;
    height: 16%;
    justify-content: center;
    align-items: center;
    margin: -10px auto;
    flex-direction: row;
}


.botao {
    flex-grow: 1;
    width: 20%;
    height: 85%;
    margin: -2px 1px;
    border-radius: 3%;
    font-size: 1.1em;
    border: none;
    text-align: center; 
    transition: background-color 0.25s;
    color: #f1f1f1;


}
.botao.dark {
    background-color: #3b3b3b;
}
.botao.dark:hover{
    background-color: #595959;
    cursor: pointer;
}

.botao.light {
    background-color: #595959;
}
.botao.light:hover{
    background-color: #3b3b3b;
    cursor: pointer;
}

.botao.purple {
    background-color: #bd94d6;
    font-size: 2em;
    color: #3b3b3b
}

.botao.purple:hover {
    cursor: pointer;
    background-color:#8e6fa1;
}

button:active {
    border:2px solid white;
}
